<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/talos_logo_icon.png">
    <title>Talos</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/material-design-icons/css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">

  </head>

<!---------------------->
<!-- body starts here -->
<!---------------------->


  <body onload="initialState()">
    <div class="be-wrapper">

      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class="be-navbar-header"><a class="navbar-brand" href="/overview"></a>
          </div>
          <div class="be-right-navbar">

<!-------------------------->
<!-- experiment dropdown  -->
<!-------------------------->

            <select class="form-control-sm mt-2 mr-3 ml-3" onchange="experiment_dd(this);" id="experiment">
              <option value="value" selected disabled>Select experiment </option>
              <option v-for="todo in todos"> || todo ||</option>
            </select>

<!---------------------->
<!-- support buttons  -->
<!---------------------->

            <ul class="nav navbar-nav float-right be-icons-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-apps"></span></a>
                <ul class="dropdown-menu be-connections">
                  <li>
                    <div class="list">
                      <div class="content">
                        <div class="row">
                          <div class="col"><a class="connection-item" href="https://github.com/autonomio/talos/issues/new">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="Github"><span>Issues</span></a></div>
                          <div class="col"><a class="connection-item" href="https://spectrum.chat/talos?tab=posts">
                            <img src="{{ url_for('static', filename='img/spectrum.svg') }}" alt="Bitbucket"><span>Chat</span></a></div>
                          <div class="col"><a class="connection-item" href="https://autonomio.github.io/talos/#/">
                            <img src="{{ url_for('static', filename='img/talos_logo_icon.png') }}" alt="Slack"><span>Docs</span></a></div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">MENU</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="parent"><a href="#"><i class="icon mdi mdi-graphic-eq"></i><span>results</span></a>
                    <ul class="sub-menu">

<!--------------------------->
<!-- left side nav starts  -->
<!--------------------------->

                      <li li {% if request.path == '/overview' %}class="active"{% endif %}><a href="/overview">Overview</a></li>
                      <li li {% if request.path == '/analyze' %}class="active"{% endif %}><a href="/analyze">Analyze</a></li>
                      <li li {% if request.path == '/experiment_log' %}class="active"{% endif %}><a href="/experiment_log">Experiment Log</a></li>
                      <li li {% if request.path == '/live_monitoring' %}class="active"{% endif %}><a href="/live_monitoring">Live Monitoring</a></li>
                    

                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

<!------------------->
<!-- progress bar  -->
<!------------------->

          <div class="progress-widget">
            <div class="progress-data"><span class="progress-value">100%</span><span class="name">Experiment Progress</span></div>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" style="width: 100%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="be-content">
        <div class="main-content container-fluid">


        