<script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/select2/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/jszip/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/datatables/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.j') }}"></script>
<script src="{{ url_for('static', filename='js/app-table-filters.js') }}"></script>
