


  <div class="form-group row pt-1">
    <div class="col-3" id="experiment">
      <select class="form-control" onchange="experiment_dd(this);">
        <option v-for="todo in todos"> || todo ||</option>
      </select>
    </div>

    <!-- scripts start here -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

	var experiment_ids = {{ experiment_ids | safe }}

      // populate the left header selector
      var experiment = new Vue({
        delimiters: ['||','||'],
        el: '#experiment',
        data: {
          todos: experiment_ids
        }
      })

  function experiment_dd(sel) {
    sessionStorage.setItem('experiment_id', String(sel.value));
  }

</script>