    
    function mainRuntime(dataset) {
      // create global variable
      prepSelectors(dataset)
      prepData(dataset)

    }

    function reloadData() {
      var filename = '/data/' + sessionStorage.getItem('experiment_id') + '.log'
      d3.csv(filename).then(refreshData);
    }


    function refreshData(dataset) {

      var a = dataset.map(function(d) {return d[window.label_a]});
      var b = dataset.map(function(d) {return d[window.label_b]});

      window.chart.data.datasets[0].data = a.slice(-60);
      window.chart.data.datasets[1].data = b.slice(-60);
      //window.chart.data.labels = range(1, b.length).slice(-60);
      window.chart.update();

      // makeChart(a.slice(-60), b.slice(-60))
      updateSparksA(a.slice(-60), label_a)
      updateSparksB(b.slice(-60), label_b)

    };


        setInterval(() => {
      
      refreshData()
      
      }, 2000)