
{% include "header.html" %}     

          <!-- header selector content starts -->

          <div class="form-group row pt-1">
            <div class="col-3" id="header_dd_left">
              <select class="form-control" id="left_dd" onchange="left_dd(this);">
                <option value="value" selected disabled>Select metric</option>
                <option v-for="todo in todos"> || todo ||</option>
              </select>
            </div>
            <div class="col-3" id="header_dd_right">
              <select class="form-control" id="right_dd" onchange="right_dd(this);">
                <option value="value" selected disabled>Select metric</option>
                <option v-for="todo in todos"> || todo ||</option>
              </select>
            </div>
          </div>


          <!-- sparklines content starts -->

          <div class="row">
            <div class="col-12 col-lg-6 col-xl-3">
                        <div class="widget widget-tile card card-border-color card-border-color-warning">
                          <div class="chart sparkline" id="spark1">0,5,3,7,5,10,3,6,5,10</div>
                          <div class="data-info">
                            <div class="desc">max <span id='best_a_label'></span></div>
                            <div class="value"><span class="indicator indicator-equal mdi mdi-chevron-right"></span><span class="number" id="best_a"></span>
                            </div>
                          </div>
                        </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3">
                        <div class="widget widget-tile card card-border-color card-border-color-warning">
                          <div class="chart sparkline" id="spark3">2,3,4,5,4,3,2,3,4,5,6,5,4,3,4,5,6,5,4,4,5</div>
                          <div class="data-info">
                            <div class="desc">max <span id='best_b_label'></span></div>
                            <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span class="number" id="best_b"></span>
                            </div>
                          </div>
                        </div>
            </div>


            <div class="col-12 col-lg-6 col-xl-3">
                        <div class="widget widget-tile card card-border-color card-border-color-warning">
                          <div class="chart sparkline" id="spark2">5,8,7,10,9,10,8,6,4,6,8,7,6,8</div>
                          <div class="data-info">
                            <div class="desc">mean <span id='mean_a_label'></span></div>
                            <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span class="number" id="mean_a"></span>
                            </div>
                          </div>
                        </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3 ">
                        <div class="widget widget-tile card card-border-color card-border-color-warning">
                          <div class="chart sparkline" id="spark4">2,5,3,7,5,10,3,6,5,7</div>
                          <div class="data-info">
                            <div class="desc">mean <span id='mean_b_label'></span></div>
                            <div class="value"><span class="indicator indicator-negative mdi mdi-chevron-down"></span><span class="number" id="mean_b"></span>
                            </div>
                          </div>
                        </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card card-border-color card-border-color-warning">
                <div class="card-body">
                <canvas id="myChart"></canvas>
                </div>
              </div>
            </div>



        </div>
      </div>
    </div>


{% include "footer.html" %}

    <script type="text/javascript">
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
        App.chartsSparklines();
        document.getElementById('experiment').value = sessionStorage.getItem('experiment_id')
        loadData()

      });
      
    function range(start, end) {
      var ans = [];
      for (let i = start; i <= end; i++) {
          ans.push(i);
      }
      return ans;
    }

    function avg(a) {
      return a.reduce((a, b) => a + b, 0) / a.length
    }

    // // // // // // // //

    // get the list of available ids
    var experiment_ids = {{ experiment_ids | safe }}

    // populate the experiment selector
    var experiment = new Vue({
      delimiters: ['||','||'],
      el: '#experiment',
      data: {
        todos: experiment_ids
      }
    })

    // change data when experiment selector change
    function experiment_dd(sel) {
      sessionStorage.setItem('experiment_id', String(sel.value))
      loadData()
    }

    // // // // // // // //

    // function for loading data

    function loadData() {
      var filename = '/data/' + sessionStorage.getItem('experiment_id') + '.log'
      console.log(filename)
      d3.csv(filename).then(prepSelectors);
    }

    function prepSelectors(dataset) {

      // create global variable
      window.dataset = dataset

      // get the headers
      var keys = Object.keys(dataset[0])

      // populate the left header selector
      var header_dd_left = new Vue({
        delimiters: ['||','||'],
        el: '#header_dd_left',
        data: {
          todos: keys
        }
      })

      // populate the right header selector
      var header_dd_right = new Vue({
        delimiters: ['||','||'],
        el: '#header_dd_right',
        data: {
          todos: keys
        }
      })

      prepData()

    };

     function prepData(dataset) {

      label_a = 'val_acc'
      label_b = 'val_loss'

      window.current_left_dd = label_a
      window.current_right_dd = label_b

      // pick the data 
      var a = dataset.map(function(d) {return d[label_a]});
      var b = dataset.map(function(d) {return d[label_b]});

      makeChart(a.slice(-60), b.slice(-60))
      updateSparksA(a, label_a)
      updateSparksB(b, label_b)

    };
    
    function refreshData(dataset) {

      label_a = window.current_left_dd
      label_b = window.current_right_dd

      var a = dataset.map(function(d) {return d[label_a]});
      var b = dataset.map(function(d) {return d[label_b]});

      window.chart.data.datasets[0].data = a.slice(-60);
      window.chart.data.datasets[1].data = b.slice(-60);
      window.chart.data.labels = range(1, b.length).slice(-60);
      window.chart.update();

      // makeChart(a.slice(-60), b.slice(-60))
      updateSparksA(a.slice(-60), label_a)
      updateSparksB(b.slice(-60), label_b)

    };
    function updateSparksA(a, label) { 

      a = a.map(num => Number(num))
      best_a = Math.max.apply(Math, a)
      javascript:document.getElementById('best_a').innerHTML = best_a.toFixed(3)
      javascript:document.getElementById('mean_a').innerHTML = avg(a).toFixed(3)
      javascript:document.getElementById('best_a_label').innerHTML = label
      javascript:document.getElementById('mean_a_label').innerHTML = label

    };

    function updateSparksB(b, label) { 
      
      b = b.map(num => Number(num))
      best_b = Math.max.apply(Math, b)
      javascript:document.getElementById('best_b').innerHTML = best_b.toFixed(3)
      javascript:document.getElementById('mean_b').innerHTML = avg(b).toFixed(3)
      javascript:document.getElementById('best_b_label').innerHTML = label
      javascript:document.getElementById('mean_b_label').innerHTML = label

    };

    //////////////


  var ctx = document.getElementById('myChart').getContext('2d');
  function makeChart(a, b) {
      var myChart = new Chart(ctx, {
        type: 'line',
        options: {
                animation: {duration: 0},
                responsive: true,
                legend: {
                    position: 'top',
                    fontSize: 20
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Model ID',
                            }
                        }],
                    yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                stepValue: 0.1,
                                max: 1,
                                fontSize: 16
                            }
                        }]
                },
                title: {
                    //display: true,
                    // text: 'Model Validation Performance',
                    fontSize: 20,
                }
            },
        data: {
          labels: '',
          color: ['red'],
          datasets: [
            {
              label: window.current_left_dd,
              backgroundColor: 'rgba(98, 98, 98, .6)',
              data: a,
              showLine: true,
              pointBorderColor: 'rgba(98, 98, 98, 1)',
            },
            {
              label: window.current_right_dd,
              backgroundColor: 'rgba(195, 73, 68, .6)',
              data: b,
              showLine: true,
              pointBorderColor: 'rgba(195, 73, 68, 1)',
            }
          ]
        }
      });

    window.chart = myChart

    }

    function left_dd(sel) {
        var a = window.dataset.map(function(d) {return d[sel.value]});
        window.chart.data.datasets[0].data = a;
        window.chart.data.datasets[0].label = sel.value;
        window.chart.update();
        updateSparksA(a, sel.value)
        window.current_left_dd = sel.value
      
    }

    function right_dd(sel) {
        var b = window.dataset.map(function(d) {return d[sel.value]});
        window.chart.data.datasets[1].data = b;
        window.chart.data.datasets[1].label = sel.value;
        window.chart.update();
        updateSparksB(b, sel.value)
        window.current_right_dd = sel.value
    }

//   setInterval(() => {
      
//   var filename = '/data/iris.live.log'
//    d3.csv(filename).then(refreshData);
//     
//     }, 500)
//


    </script>
  </body>
</html>